<div class="row">
  <div class="twelve mobile-four columns">
		<h5 class="subheader">&lt;정리&gt;</h5>
			<p>
				유사한 것을 찾아 문제를 해결할 때, 문제 영역에는 대상이나 상황이 들어갑니다. 이에 따라 유사한 영역에도 대상이나 상황이 들어가게 됩니다. 문제 영역에 상황이 들어가는 경우, 대상들의 관계를 고민하여 문제에 답해야 합니다. 상황은 여러 대상들로 구성되어 있기 때문입니다. 문제 영역에 상황이 들어가는 경우, 우리처럼 자연스럽게 대상들의 관계를 생각하여 문제에 답합니다. 어른들도 우리처럼 그렇게 자연스러운 방식으로 생각할까요? 아니에요.</p>
			<p>
				우리가 풀어본 문제를 다시 떠 올려 봅시다. 문제 영역에서 아저씨의 고양이는 도마뱀을 쫓아갔습니다. 유사한 영역에서 영이의 강아지는 평소에 영이를 괴롭히던 멍칙이를 쫓아갔습니다. 어른들은 대상들의 관계를 고민하지 않고 멍칙이에 도마뱀을 대응시켜 ‘평소에 도마뱀이 아저씨를 괴롭혔다’고 답하는 실수를 합니다.</p>
			<p>
				그러나 우리는 그러한 관계를 고민합니다. 멍칙이는 사람이고, 도마뱀은 파충류입니다. 도마뱀이 고의로 사람을 괴롭힐 가능성은 거의 없습니다. 이 때문에, 우리는 멍칙이에 도마뱀이 대응하더라도 ‘도마뱀이 평소에 멍칙이를 괴롭혔다’고 답하지 않습니다.</p>
			<p>
				<strong>‘스마트한 우리들!’</strong>
			</p>
	</div>
</div>
<div class="row">
	<div class="twelve mobile-four columns">
 		<%= link_to("참고자료", example_ref_path, :class => "radius button") %></p>
	</div>
</div>