<div class="row">
  <div class="twelve mobile-four columns">

  	<h5 class="subheader">[물음 2]</h5>
  	<div class="panel radius">
  	<dl>
			<dt>영이와 강아지는 어떤 관계를 맺고 있었습니까?</dt>
			<dd>영이는 강아지를 끌고 갔습니다.</dd>
  		<dt>강아지와 멍칙이는 어떤 관계를 맺고 있었습니까?</dt>
  		<dd>강아지는 멍칙이를 쫓아갔습니다.</dd>
		</dl>
		<p>이렇게 대상들이 맺고 있는 관계를 중요하게 여겨야죠.</p>
		</div>

		<p>다음은 영이가 어제 겪었던 상황과 오늘 본 장면 사이에서 발견되는 유사한 점을 나타낸 도표입니다. 빈 칸 (가), (나), (다)에 들어가야 하는 것은?</p>
		<table>
			<tbody>
				<tr>
					<td><strong>어제</strong></td>
					<td>영이</td>
					<td>강아지</td>
					<td>멍칙이</td>
				</tr>
				<tr>
					<td><strong>오늘</strong></td>
					<td>(가)</td>
					<td>(나)</td>
					<td>(다)</td>
				</tr>
			</tbody>
		</table>
		<!-- <ul class="block-grid four-up mobile-four-up">
		  <li><strong>어제 겪었던 상황</strong></li>
		  <li>영이</li>
		  <li>강아지</li>
		  <li>멍칙이</li>
		  <li><strong>오늘 본 장면</strong></li>
		  <li>(가)</li>
		  <li>(나)</li>
		  <li>(다)</li>
		</ul>
 -->
  	<table class="twelve">
		  <thead>
		    <tr>
		      <th>(가)</th>
		      <th>(나)</th>
		      <th>(다)</th>
		      <th>정답</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <!-- <td><a href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">①</a></td> -->
		      <td>아저씨</td>
		      <td>고양이</td>
		      <td>도마뱀</td>
		      <td><a class="tiny radius secondary button" href="#" data-reveal-id="Correct">선택</a></td>
		    </tr>
		    <tr>
		      <!-- <td><a href="/example/s1" onClick="alert('정답입니다!'); return false">②</a></td> -->
		      <td>아저씨</td>
		      <td>도마뱀</td>
		      <td>고양이</td>
		      <td><a class="tiny radius secondary button" href="#" data-reveal-id="Wrong" >선택</a></td>
		    </tr>
		    <tr>
		      <!-- <td><a href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">③</a></td> -->
		      <td>아저씨</td>
		      <td>고양이 목줄</td>
		      <td>도마뱀</td>
		      <td><a class="tiny radius secondary button" href="#" data-reveal-id="Wrong" >선택</a></td>
		    </tr>
		    <tr>
		      <!-- <td><a href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">④</a></td> -->
		      <td>멍칙이</td>
		      <td>고양이</td>
		      <td>아저씨</td>
		      <td><a class="tiny radius secondary button" href="#" data-reveal-id="Wrong" >선택</a></td>
		    </tr>
		    <tr>
		      <!-- <td><a href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">⑤</a></td> -->
		      <td>강아지</td>
		      <td>아저씨</td>
		      <td>도마뱀</td>
		      <td><a class="tiny radius secondary button" href="#" data-reveal-id="Wrong" >선택</a></td>
		    </tr>
		  </tbody>
		</table>

  </div>
</div>

<div id="Wrong" class="reveal-modal small">
  </br></br>
  <h2 class="alert button">X 오답입니다.</h2>
  </br>
  <p class="lead">다시 생각해 보세요.</p>
  <a class="close-reveal-modal">&#215;</a>
  <a class="close-custom-modal button radius">다시 보기</a>
</div>
<div id="Correct" class="reveal-modal small">
  </br></br>
  <h2 class="success button">O 정답입니다!</h2>
  </br>
  <p class="lead">더 알아봅시다 :)</p>
  <a class="button radius" href="/example/s2">설명 보기 클릭</a>
  <a class="close-reveal-modal">&#215;</a>
</div>
<script type="text/javascript">
	$('.close-custom-modal').on('click', function(){
		$('.reveal-modal').trigger('reveal:close');	
	})
</script>