<div class="row">
  <div class="twelve mobile-four columns">

  	<h5 class="subheader">[물음 3] 위 글의 내용에 근거하여 빈 칸을 채워 본다면?</h5>
		
<!-- 		<table class="twelve">
		  <tbody>
		    <tr>
		      <td>영이</td>
		      <td>:</td>
		      <td>강아지</td>
		      <td>아저씨</td>
		      <td>:</td>
		      <td>(가)</td>
		    </tr>
		    <tr>
		      <td>강아지</td>
		      <td>:</td>
		      <td>멍칙이</td>
		      <td>=</td>
		      <td>(나)</td>
		      <td>:</td>
		      <td>도마뱀</td>
		    </tr>
		  </tbody>
		</table>
 -->
 		<div class="panel radius">
			<div class="row">
				<div class="twelve mobile-four columns" style="text-align: center;"><strong>&nbsp;&nbsp;&nbsp;영이&nbsp;:&nbsp;강아지&nbsp;=&nbsp;아저씨&nbsp;:&nbsp;&nbsp;&nbsp;(가)&nbsp;&nbsp;</strong></div>
			</div>
			<div class="row">&nbsp;
			</div>
			<div class="row">
				<div class="twelve mobile-four columns" style="text-align: center;"><strong>강아지&nbsp;:&nbsp;멍칙이&nbsp;=&nbsp;&nbsp;&nbsp;(나)&nbsp;&nbsp;&nbsp;:&nbsp;도마뱀</strong></div>
			</div>
		</div>
 
  	<form class="custom"> 
			<div class="row">
				<div class="twelve mobile-four columns"> (가)에 해당하는 것은?</div>
			</div>
			<div class="row">
				<div class="twelve mobile-three columns">
					<select id="q3-1">
	  				<option>선택</option>
	  				<option value="1">고양이</option>
	  				<option value="2">도마뱀</option>
	  				<option value="3">사람</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="twelve mobile-four columns"> (나)에 해당하는 것은?</div>
			</div>
			<div class="row">
				<div class="twelve mobile-three columns">	
					<select id="q3-2">
	  				<option>선택</option>
	  				<option value="1">고양이</option>
	  				<option value="2">나무</option>
	  				<option value="3">아저씨</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="twelve mobile-two columns">
					<%= link_to "결과보기", example_s3_path, :class => "button", :id => "q3-result" %>
				</div>
			</div>
  	</form>

  </div>
</div>