<div class="row">
  <div class="twelve mobile-four columns">

  	<div class="panel radius">
  	<h5 class="subheader">[물음 4] 이제 다음 그림을 보고 적절한 것에 대해서는 ‘O’를, 그리고 적절하지 않은 것에 대해서는 ‘X’를 클릭하세요.</h5>
  	<blockquote><p>여기서 적절하지 않다는 것은 무엇을 뜻할까요? 영이가 등장하는 ‘개와 고양이의 이야기’에 근거해 거짓이거나, 참인지 거짓인지 알 수 없는 것을 뜻합니다.</p></blockquote>
  	<%= image_tag 'q1_p2.png'%>
  	</div>

  	<form class="custom">
  		<div class="row">
  			<div class="twelve mobile-four columns">
  				(1) 문제 영역에는 반드시 산개구리와 같은 대상 하나가 들어가야 해.
  			</div>
  		</div>
			<div class="row">
				<div class="twelve mobile-two columns">
					<select id="q4-1">
	  				<option>선택</option>
	  				<option value="1">적절하다.</option>
	  				<option value="0">적절하지 않다.</option>
					</select>
				</div>
			</div>
      <p></p>

			<div class="row">
				<div class="twelve mobile-four columns">
					(2) 문제 영역에는 산개구리와 같은 대상뿐만 아니라 영이가 오늘 본 상황과 같은 것도 들어갈 수 있어.
  			</div>
  		</div>
			<div class="row">
				<div class="twelve mobile-two columns">
					<select id="q4-2">
	  				<option>선택</option>
	  				<option value="1">적절하다.</option>
	  				<option value="0">적절하지 않다.</option>
					</select>
				</div>
			</div>
      <p></p>

			<div class="row">
				<div class="twelve mobile-four columns">
					(3) 유사한 영역에는 내가 모르는 것이 들어가야 해.
  			</div>
  		</div>
			<div class="row">
				<div class="twelve mobile-two columns">
					<select id="q4-3">
	  				<option>선택</option>
	  				<option value="1">적절하다.</option>
	  				<option value="0">적절하지 않다.</option>
					</select>
				</div>
			</div>
      <p></p>

			<div class="row">
				<div class="twelve mobile-four columns">
					(4) 유사한 영역에는 영이가 어제 겪었던 상황처럼 ‘이미 경험한 것’, ‘이미 알고 있는 것’ 혹은 인터넷이나 책을 통해 알 수 있는 것이 들어가야 해.
  			</div>
  		</div>
			<div class="row">
				<div class="twelve mobile-two columns">
					<select id="q4-4">
	  				<option>선택</option>
	  				<option value="1">적절하다.</option>
	  				<option value="0">적절하지 않다.</option>
					</select>
				</div>
			</div>
      <p></p>      

			<div class="row">
				<div class="twelve mobile-four columns">
					(5) 문제를 ‘산개구리 등에도 독이 있는가?’라고 해보자. 산개구리와 가장 유사한 것이 두꺼비라고 해. 두꺼비 등에는 독이 있어. 이때 대부분 사람들은 문제의 답으로 ‘산개구리 등에도 독이 있을 거야’를 택해.
  			</div>
  		</div>
			<div class="row">
				<div class="twelve mobile-two columns">
					<select id="q4-5">
	  				<option>선택</option>
	  				<option value="1">적절하다.</option>
	  				<option value="0">적절하지 않다.</option>
					</select>
				</div>
			</div>
      <p></p>   

			<div class="row">
				<div class="twelve mobile-two columns">
					<%= link_to "결과보기", example_s4_path , :class => "button", :id => "q4-result" %>
				</div>
			</div>

		</form>
	</div>
</div>