<div class="row">
	<div class="twelve mobile-four columns">

<h6 class="subheader"><em>유사한 것을 찾아 문제에 답할 때 발생할 수 있는 실수를 알기 위해 다음 물음을 풀어 봅시다.</em></h6>
<h5 class="subheader">[물음 5] 아래의 빈 칸에 들어가야 하는 것에 클릭해 본다면?</h5>
<div class="panel radius">
	<p>
		산개구리 등에도
		(<button type="button" class="" data-value="0">꿀</button> |
		<button type="button" class="" data-value="0">독</button>)이 
		있는가?’라는
		(<button type="button" class="" data-value="0">답</button> |
		<button type="button" class="" data-value="0">문제</button>)가
		주어졌다고 해보자.
	</p>
	<p>
		개구리와 가장 유사한 것이 
		(<button type="button" class="" data-value="0">도롱뇽</button> |
		<button type="button" class="" data-value="0">두꺼비</button>)라고 
		해. 두꺼비 등에는 독이 있어. 이때 대부분 사람들은 문제의 답으로 
		‘(<button type="button" class="" data-value="0">두꺼비</button> |
		<button type="button" class="" data-value="0">산개구리</button>) 
		등에도 독이 있을 거야’를 택해. 이러한 방식으로 ‘왜 고양이는 도마뱀을 쫓아갔을까?’라는 영이의 물음에 답해 보자.
	</p>
	<p>
		영이의 강아지가 
		(<button type="button" class="" data-value="0">담임선생님</button> |
		<button type="button" class="" data-value="0">멍칙이</button>)에게 
		달려든 이유는 무엇이었지? 평소에 멍칙이가 영이의 머리카락을 잡아당기는 등 영이를 괴롭혔기 때문이야. 이 사실은 영이가 이미 
		(<button type="button" class="" data-value="0">알고</button> |
		<button type="button" class="" data-value="0">모르고</button>)
		있는 것이야. 영이가 어제 경험한 상황은 
		(<button type="button" class="" data-value="0">문제</button> |
		<button type="button" class="" data-value="0">유사한</button> ) 
		영역이지.
	</p>
	<p>
		반면에 ‘왜 고양이는 도마뱀을 쫓아갔을까?’라는 물음과 관련된 상황은 
		(<button type="button" class="" data-value="0">문제</button> |
		<button type="button" class="" data-value="0">유사한</button>)
		영역이야. 문제 영역을 유사한 영역에 
		(<button type="button" class="" data-value="0">접속</button> |
		<button type="button" class="" data-value="0">대응</button>)시켜
		보면, 아저씨의 고양이는 영이의 강아지에 대응해. 그리고 도마뱀은 멍칙이에 대응해.
	</p>
	<p>
		만약 멍칙이가 평소에 영이를 괴롭혔다는 사실을 문제 영역에 옮겨 생각해 보면, 어떤 답이 나오니? 바로 ‘도마뱀이 
		(<button type="button" class="" data-value="0">아주 가끔</button> |
		<button type="button" class="" data-value="0">평소에</button>)
		아저씨를 괴롭혔다’는
		(<button type="button" class="" data-value="0">질문</button> |
		<button type="button" class="" data-value="0">답</button>)이 
		나와.
	</p>
</div>
	<div class="panel radius callout">
		<h5> 그러나 이러한 답을 받아들일 사람은 많지 않아. </br>
			</h5>
		<div class="row">
			<div class="twelve mobile-two columns">
				<%= link_to "왜 그럴까?", example_s5_path, :class => "button" %>
			</div>
		</div>
<!-- 	<ul class="button-group radius">
	  <li><a type="button" class="tiny button secondary radius" data-value="1">꿀</a></li>
	  <li><a type="button" class="tiny button secondary radius" data-value="0">독</a></li>
	</ul> -->

</div>
</div>