<div class="row">
  <div class="small-12 large-12 columns">

<h6 class="subheader"><em>유사한 것을 찾아 문제에 답할 때 발생할 수 있는 실수를 알기 위해 다음 물음을 풀어 봅시다.</em></h6>
<h5 class="subheader">[물음 5] 아래의 빈 칸에 들어가야 하는 것에 클릭해 본다면?</h5>
	<div class="panel radius">
		<p>
			산개구리 등에도 
			(<a href="#" class="label q5" CW="0">꿀</a> |
			<a href="#" class="label q5" CW="1">독</a>)이 
			있는가?’라는
			(<a href="#" class="label q5" CW="0">답</a> |
			<a href="#" class="label q5" CW="1">문제</a>)가 주어졌다고 해보자.
		</p>
		<p>
			개구리와 가장 유사한 것이 
			(<a href="#" class="label q5" CW="0">도룡뇽</a> |
			<a href="#" class="label q5" CW="1">두꺼비</a>)
			라고 
			해. 두꺼비 등에는 독이 있어. 이때 대부분 사람들은 문제의 답으로 
			‘(<a href="#" class="label q5" CW="0">두꺼비</a> |
			<a href="#" class="label q5" CW="1">산개구리</a>)
			등에도 독이 있을 거야’를 택해. 이러한 방식으로 ‘왜 고양이는 도마뱀을 쫓아갔을까?’라는 영이의 물음에 답해 보자.
		</p>
		<p>
			영이의 강아지가 
			(<a href="#" class="label q5" CW="0">담임선생님</a> |
			<a href="#" class="label q5" CW="1">멍칙이</a>
			)에게 
			달려든 이유는 무엇이었지? 평소에 멍칙이가 영이의 머리카락을 잡아당기는 등 영이를 괴롭혔기 때문이야. 이 사실은 영이가 이미 
			(<a href="#" class="label q5" CW="1">알고</a> |
			<a href="#" class="label q5" CW="0">모르고</a>
			)
			있는 것이야. 영이가 어제 경험한 상황은 
			(<a href="#" class="label q5" CW="0">문제</a> |
			<a href="#" class="label q5" CW="1">유사한</a>) 
			영역이지.
		</p>
		<p>
			반면에 ‘왜 고양이는 도마뱀을 쫓아갔을까?’라는 물음과 관련된 상황은 
			(<a href="#" class="label q5" CW="1">문제</a> |
			<a href="#" class="label q5" CW="0">유사한</a>)
			영역이야. 문제 영역을 유사한 영역에 
			(<a href="#" class="label q5" CW="0">접속</a> |
			<a href="#" class="label q5" CW="1">대응</a>)시켜
			보면, 아저씨의 고양이는 영이의 강아지에 대응해. 그리고 도마뱀은 멍칙이에 대응해.
		</p>
		<p>
			만약 멍칙이가 평소에 영이를 괴롭혔다는 사실을 문제 영역에 옮겨 생각해 보면, 어떤 답이 나오니? 바로 ‘도마뱀이 
			(<a href="#" class="label q5" CW="0">아주 가끔</a> |
			<a href="#" class="label q5" CW="1">평소에</a>)
			아저씨를 괴롭혔다’는
			(<a href="#" class="label q5" CW="0">질문</a> |
			<a href="#" class="label q5" CW="1">답</a>)이 
			나와.
		</p>
	</div>
	<div class="panel radius callout">
		<h5>
			<p>그러나 이러한 답을 받아들일 사람은 많지 않아.</p>
		</h5>
		<div class="row">
			<div class="twelve mobile-two columns">
				<%= link_to "왜 그럴까?", example_s5_path, :class => "button success" %>
			</div>
		</div>
	</div>
</div>

<div id="Wrong" class="reveal-modal">
  <h1>X 오답입니다.</h1>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="Correct" class="reveal-modal">
  <h1>O 정답입니다!</h1>
  <a class="close-reveal-modal">&#215;</a>
</div>