<div class="row">
	<div class="twelve mobile-four columns">
		<h5 class="subheader">[물음 7] &lt;보기&gt;는 어제 겪었던 상황과 오늘 본 장면을 비교하여 영이가 내린 결론들입니다. &lt;보기&gt; 중 위 글에 근거해 자연스럽게 추측한 것으로 볼 수 없는 것만 고른다면?</h5>
		&lt;보기&gt; 
		<div class="panel radius">
			<p>(가) 강아지는 주인을 괴롭히는 사람을 보면 짖는 습성을 갖고 있군.</p><p>
			(나) 아저씨의 고양이는 도마뱀을 잡으려고 했군.</p><p>
			(다) 도마뱀은 평소에 아저씨를 괴롭혔군.</p>
		</div>

		<table class="twelve">
		  <thead>
		    <tr>
		      <th></th>
		      <th></th>
		      <th>정답</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>①</td>
		      <td>(가)</td>
		      <td><a class="tiny radius secondary button" href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">선택</a></td>
		    </tr>
		    <tr>
		    	<td>②</td>
		      <td>(나)</td>
		      <td><a class="tiny radius secondary button" href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">선택</a></td>
		    </tr>
		    <tr>
		    	<td>③</td>
		      <td>(다)</td>
		      <td><a class="tiny radius secondary button" href="/example/s7" onClick="alert('정답입니다!'); return true">선택</a></td>
		    </tr>
		    <tr>
		    	<td>④</td>
		      <td>(가), (나)</td>
		      <td><a class="tiny radius secondary button" href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">선택</a></td>
		    </tr>
		    <tr>
		    	<td>⑤</td>
		      <td>(가), (다)</td>
		      <td><a class="tiny radius secondary button" href="#" onClick="alert('오답입니다. 다시 생각해보세요.'); return false">선택</a></td>
		    </tr>
		  </tbody>
	  </table>

	</div>
</div>