<div class="row">
	<div class="twelve mobile-four columns">
		
			<p>지금까지 살펴본 물음들은 인지심리학자 토힐과 홀리오크의 실험에 바탕을 둔 것입니다.
			</p>
		<blockquote>
			<cite>Tohill, J.M. & Holyoak, K.J.(2000), “The Impact of Anxiety on Analogical Reasoning”, Thinking & Reasoning, 6.
			</cite>
		</blockquote>

		<p>
			그들의 실험 목적은 무엇이었을까요? 문제 영역과 유사한 영역에 상황이 들어가는 경우, 아이들과 어른들 중 어느 쪽이 ‘상황을 구성하는 대상들의 관계’에 민감하게 반응하는지를 알아보는 것이었습니다. 그들의 실험 결과는 어떻게 되었을까요? 아이들이 어른들보다 ‘상황을 구성하는 대상들의 관계’에 민감하게 반응한다는 것이었습니다. 다시 말해, 그들의 실험 목적과 관련해서는 아이들이 어른들보다 ‘스마트’하다는 것이었습니다. 멍청한 어른들! 
		</p>
		<p>
			마지막 다음 문제는 토힐과 홀리오크가 실험에서 사용한 그림에 바탕을 둔 것입니다.
		</p>
	</div>
</div> 
<div class="row">
	<div class="twelve mobile-four columns">
		<h5 class="subheader"> [물음 8]</h5>
		<p>
			다음 그림에서 ‘유비 표적’은 ‘문제 영역’에, 그리고 ‘유비 자료’는 ‘유사한 영역’에 해당합니다. 순돌은 유비 표적과 유비 자료를 비교하여 A를 E에, B를 F에, C를 G에, 그리고 D를 H에 대응시켰습니다. 그러자 선생님은 유비 표적과 자료 사이에 그런 대응 관계가 아닌 다른 관계도 성립한다고 말했습니다. 순돌은 그림을 다시 살펴보았습니다. 순돌이 찾은 유비 표적과 유비 자료의 대응 관계는?
		</p>
	</div>
</div>
<div class="row">
  <div class="eleven columns centered">
    <%= image_tag 'ref_p1.png'%>
  </div>
</div>
		
<div class="row">
	<div class="twelve mobile-four columns">

		<table class="twelve">
		  <thead>
		    <tr>
		      <th></th>
		      <th>A</th>
		      <th>B</th>
		      <th>C</th>
		      <th>D</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>①</td>
		      <td>E</td>
		      <td>F</td>
		      <td>G</td>
		      <td>없음</td>
		    </tr>
		    <tr>
		    	<td>②</td>
		    	<td>E</td>
		    	<td>G</td>
		    	<td>F</td>
		    	<td>H</td>
		    </tr>
		    <tr>
		    	<td>③</td>
		    	<td>F</td>
		    	<td>E</td>
		    	<td>없음</td>
		    	<td>E</td>
		    </tr>
		    <tr>
		    	<td>④</td>
		    	<td>없음</td>
		    	<td>F</td>
		    	<td>E</td>
		    	<td>H</td>
		    </tr>
		    <tr>
		    	<td>⑤</td>
		    	<td>H</td>
		    	<td>F</td>
		    	<td>E</td>
		    	<td>G</td>
		    </tr>
		  </tbody>
	  </table>
	</div>
</div>
<div class="row">
	<div class="twelve mobile-four columns">
		<p><em>답은 ⑤입니다. 왜 답이 ⑤인지는 스스로 생각해 봅시다.</em></p>
	</div>
</div>
