<div class="row">
  <div class="twelve mobile-four columns">

		<h4 class="subheader">[물음 1 알아보기</h4>
		<h5 class="subheader">
			<p><strong>[물음 1]의 그림은 영이가 어제 본 상황을 나타냅니다.</strong></p><p>영이는 강아지를 끌고 갔으니, D에는 강아지가 해당해야 합니다. </p><p>강아지는 평소에 영이를 괴롭힌 멍칙이를 쫓아갔으니, E에는 멍칙이가 해당해야 합니다. </p><p>도마뱀이 나무를 타고 올라갔으니, F에는 도마뱀이 해당해야 합니다.</p>
		</h5>
		
 		<%= link_to("다음 물음으로", '/example/q2', :class => "radius button") %></p>
	</div>
</div>