<div class="row">
  <div class="twelve mobile-four columns">
		<h3 class="subheader">[물음 2 알아보기]</h3>
		<p>이 세상의 대상들은 형태나 특징에 의해 여러 종류로 분류됩니다. 영이, 멍칙이, 고양이를 끌고 다니는 아저씨는 사람으로 분류됩니다. 강아지와 고양이는 애완동물로 분류됩니다. 도마뱀은 파충류로 분류됩니다. <strong>그런데, 대상들이 맺는 관계를 생각해 대상들을 서로 대응시켜 보는 경우, 멍칙이에 해당하는 (다)는 사람이 아닌 도마뱀이 됩니다.</strong></p>
		<p>영이가 어제 겪었던 상황을 살펴봅시다.</p>
		<p>강아지가 멍칙이를 쫓아가는 바람에 줄이 끊어졌고, 고양이가 도마뱀을 쫓아가는 바람에 줄이 끊어졌습니다.</p>
		<p>따라서 (다)에는 도마뱀이 해당합니다. 이러한 식으로 생각해 보면, (가)에는 아저씨. (나)에는 고양이가 해당합니다.</p>
	</div>
</div>
<div class="row">
  <div class="small-8 small-centered large-12 columns">
 		<%= link_to("다음 물음으로", '/example/q3', :class => "radius button") %></p>
	</div>
</div>