<div class="row">
  <div class="small-12 large-12 columns">
		<h3 class="subheader">[물음 3 알아보기]</h3>
		<p>(가)와 (나) 모두 고양이를 클릭해야 합니다.</p>
		<p>[물음 3]은 두 대상이 맺고 있는 관계와 유사한 관계를 찾아보는 문제입니다. (☞ <%= link_to "유사한 것 찾아보기", '#', :class => "label secondary" %>)</p>
		<p>영이는 강아지를 끌고 갔었죠. 아저씨는 고양이를 끌고 갔었죠. 영이와 강아지의 관계를 아저씨와 고양이의 관계에 대응시키면, (가)에는 고양이가 해당합니다.</p>
		<p>강아지는 평소에 영이를 괴롭히는 멍칙이를 쫓아갔습니다. 고양이는 도마뱀을 쫓아갔습니다. 그러니 (나)에도 고양이가 들어가야 하겠죠.</p>
	</div>
</div>
<div class="row">
  <div class="small-6 small-centered large-12 columns">
 		<%= link_to("다음 물음으로", example_q4_path, :class => "radius button") %></p>
	</div>
</div>