<div class="row">
  <div class="twelve mobile-four columns">
  	<div class="panel radius">
			<p>왜 ‘도마뱀이 평소에 아저씨를 괴롭혔다’고 답하는 사람이 거의 없을까요? 멍칙이와 영이의 관계를 생각해 봅시다. 멍칙이는 평소에 영이를 괴롭힌 아이입니다. 멍칙이와 영이의 관계는 사람들 사이에 성립하는 관계입니다.</p>
			<p>반면에 도마뱀과 아저씨 사이에 그런 관계가 성립한다고 생각하기는 힘듭니다. 왜냐하면 도마뱀은 파충류에, 그리고 아저씨는 사람에 속하기 때문입니다. 도마뱀이 아저씨를 괴롭히는 상황은 거의 발생하기 힘듭니다. 그러한 상황을 ‘<code>예외적인 상황</code>’이라고 합니다.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="twelve mobile-four columns">
 		<%= link_to("다음 물음으로", example_q6_path, :class => "radius button") %></p>
	</div>
</div>