<div class="row">
  <div class="twelve mobile-four columns">
		<h5 class="subheader">
			<p>
				(가)는 도마뱀이 아저씨를 괴롭힌 경우로 볼 수 없습니다. 도마뱀은 사과나무 밑에 아저씨가 있다는 사실을 모릅니다. 또 아저씨는 사과나무 위에 도마뱀에 있다는 사실을 모릅니다. 사과가 떨어진 것을 가지고 아저씨는 도마뱀을 탓하지 않을 것입니다. 
			</p>
			<p>
				(나)도 도마뱀이 아저씨를 괴롭힌 경우로 볼 수 없습니다. 도마뱀은 아저씨가 미끄러져 넘어지도록 하지 않았습니다. 아저씨가 도마뱀을 밟은 사실을 알아도, 아저씨는 도마뱀을 탓할 수 없습니다. 도마뱀을 밟은 것은 아저씨 잘못이니까요.
			</p>
			<p>
				(다) 돌연변이로 지능이 높아진 도마뱀들은 파리를 잡아 먹기 위해 고의로 아저씨 집을 자주 습격했습니다. 도마뱀들이 아저씨의 허락를 받고 아저씨 집을 놀러간 것은 아닙니다. (다)는 도마뱀들이 아저씨를 괴롭힌 것에 해당합니다.
			</p>
				답은 ③입니다.
		</h5>
	</div>
</div>
<div class="row">
	<div class="twelve mobile-four columns">
 		<%= link_to("다음 물음으로", example_q7_path, :class => "radius button") %></p>
	</div>
</div>