<div class="no-bg row" >
	<div class="small-12 small-centered large-12 large-centered columns">
		<div class="row">
			<div class="small-2 columns" style="padding:10px;">
				<a href="http://blog.daum.net/goodking/"> <%= image_tag "goodking_blog_logo.png", :width => '178px' %>  </a>
			</div>
			<div class="small-10 columns" style="padding-top:6px;">
				<h3><a href="http://blog.daum.net/goodking/">블로그로 돌아가기(클릭)</a></h3>
			</div>
		</div>
	</div>
</div>
<iframe src="/example/intro" width="100%" height="700"></iframe>