// Place all the styles related to the Example controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table tbody tr td {
	text-align: center;
}
table thead tr th {
	text-align: center;
}
body {
	background-image:url('/assets/background_img.jpg');
	background-size:100%;
}